html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
}

body {
    margin: 0;
}

a:link, a:visited {
    color: #333;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.alert{
    background-color: #000;
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    right: 40%;
    font-size: .35rem;
    color: #fff;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    padding: .2rem .1rem;
    display: none;
    max-width: 4rem;
}